@model danisman
@{
    ViewBag.Title = "PersonelDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h5 class="txt-dark">PERSONEL GÜNCELLE </h5>
        </div>
        <!-- Breadcrumb -->
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">PERSONEL BİLGİLERİ</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <h6 style="color:red">@ViewBag.Mesaj</h6>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <form action="/Admin/PersonelDuzenle" method="post" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Adı Soyadı</label>
                                        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Mail Adresi</label>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "...@uparazzi.com.tr", required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Gsm Numarası</label>
                                        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", placeholder = "535xxxxxxx", required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Görevi</label>
                                        @Html.TextBoxFor(x => x.Gorevi, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Doğum Tarihi</label>
                                        @Html.TextBoxFor(x => x.BirthDay, new { @class = "form-control", type = "date", required = "required", Value = (Model.BirthDay.HasValue ? Model.BirthDay.Value.ToString("yyyy-MM-dd") : "") })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Personel Yeni Profil Resmi </label>
                                        <input type="file" name="profil" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Mevcut Profil Resmi</label>
                                        <br />
                                        <img src="@Model.PhotoPath" height="100" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.CheckBox("Admin")  <label> Yönetim </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.CheckBox("Mudur")  <label> Müdür </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.CheckBox("Asistan") <label> Asistan </label>
                                    </div>
                                </div>


                                @Html.HiddenFor(x => x.Id)


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button class="btn btn-danger btn-rounded btn-block btn-anim"><i class="fa fa-send"></i><span class="btn-text">KAYDET</span></button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

