@model blog
@{
    ViewBag.Title = "EditBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@(Model.SSS.Value ? "SSS" : "BLOG") GÜNCELLE </h5>
        </div>
        <!-- Breadcrumb -->
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">@(Model.SSS.Value ? "SSS" : "BLOG") BİLGİLERİ</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <h6 style="color:red;font-weight:bold">@ViewBag.Mesaj</h6>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <form action="/Tasarim/EditBlog" method="post" enctype="multipart/form-data">

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> Başlık </label>
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                @if (!Model.SSS.Value)
                                {
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label> Kategori </label>
                                            @Html.TextBoxFor(x => x.Category, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label> Blog Resimleri (Birden fazla resim seçebilirsiniz..) </label>
                                            <input type="file" multiple required name="Resim" class="form-control" />
                                        </div>
                                    </div>
                                }



                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>  Açıklama</label>
                                        @Html.TextAreaFor(x => x.Text, new { rows = "8", @class = "form-control", required = "required", id = "editor" })
                                    </div>
                                </div>


                                @Html.HiddenFor(x => x.Id)

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button class="btn btn-danger btn-rounded btn-block btn-anim"><i class="fa fa-send"></i><span class="btn-text">KAYDET</span></button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

<script src="~/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>

