@model islem
@{
    ViewBag.Title = "BitmisIslem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">BİTMİŞ İŞLEM RAPORU </h5>
        </div>
        <!-- Breadcrumb -->
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">RAPOR BİLGİLERİ</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-wrapper collapse in">
                    <div class="panel-body">

                        <form method="post" action="/Danisman/BitmisIslem">

                            <p style="color:red;font-weight:bold;font-size:large">@ViewBag.Mesaj</p>

                            <center>
                                <table style="width: 70%; border-collapse: collapse; border: none; margin-left: 4.8pt; margin-right: calc(6%);">
                                    <tbody>
                                        <tr>
                                            <td colspan="6" style="width: 466.1pt;border: 1pt solid windowtext;padding: 0in 5.4pt;height: 20.85pt;vertical-align: top;">
                                                <p style='margin-top:10px;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>&nbsp;<img src="~/Theme/images/logo.png" style="width: 100.5pt; height: 48pt;" alt="image"><strong><br>&nbsp;BİTMİŞ İŞLEM RAPORU</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="width: 131.4pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0in 5.4pt;vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>TARİH:</p>
                                            </td>
                                            <td colspan="3" style="width: 46.626%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Tarih, new { style = "width:100%;border:none", type = "date", Value = DateTime.Now.ToString("yyyy-MM-dd") })</p>
                                            </td>
                                            <td style="width: 31.2912%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>RAPOR NO: @Html.TextBoxFor(x => x.RaporNo, new { style = "border:none;width:70%;float:right", required = "" })</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="width: 466.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0in 5.4pt;height: 3.5pt;vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="width: 131.4pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0in 5.4pt;height: 0.15in;vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>RAPOR T&Uuml;R&Uuml; :</p>
                                            </td>
                                            <td colspan="3" style="width: 46.626%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.15in; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:5.4pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>@(Model.Satilik == true ? "SATIŞ" : "KİRALAMA")</p>
                                            </td>
                                            <td style="width: 31.2912%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.15in; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:5.4pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>PORTF&Ouml;Y NO: @Html.TextBoxFor(x => x.PortfoyNo, new { style = "border:none;width:70%;float:right", required = "" })</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="width: 131.4pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0in 5.4pt;height: 15.05pt;vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>NİTELİK :&nbsp;</p>
                                            </td>
                                            <td colspan="4" style="width: 334.7pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 15.05pt;vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Nitelik, new { style = "border:none;width:100%", required = "" })</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            @{ int rows = 6;}
                                        @if (Model.Nitelik == "Arsa" || Model.Nitelik == "Arazi" || Model.Nitelik == "Tarla" || Model.Nitelik == "Hobi Bahçesi")
                                        {
                                            rows = 7;
                                        }
                                        <td colspan="2" rowspan="@rows" style="width: 131.4pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0in 5.4pt;height: 14.1pt;vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>GAYRİMENKUL&Uuml;N ADRESİ:</p>
                                        </td>
                                        <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.1pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>İL:</p>
                                        </td>
                                        <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.1pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Il, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.7pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>İL&Ccedil;E:</p>
                                        </td>
                                        <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.7pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Ilce, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>

                                    @if (rows==7)
                                    {
                                        <tr>
                                            <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>BELDE / KÖY:</p>
                                            </td>
                                            <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Belde, new { style = "border:none;width:100%", required = "" })</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ADA:</p>
                                            </td>
                                            <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.AdaNo, new { style = "border:none;width:100%", required = "" })</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>PARSEL:</p>
                                            </td>
                                            <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Parsel, new { style = "border:none;width:100%", required = "" })</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>M2:</p>
                                            </td>
                                            <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.m2, new { style = "border:none;width:100%", required = "" })</p>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>KAT:</p>
                                            </td>
                                            <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 28.65pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Kat, new { style = "border:none;width:100%", required = "" })</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 27.35pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>NO:</p>
                                            </td>
                                            <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 27.35pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.No, new { style = "border:none;width:100%", required = "" })</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 27.95pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ODA SAYISI M2:</p>
                                            </td>
                                            <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 27.95pt; vertical-align: top;">
                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.OdaSayisi, new { style = "border:none;width:100%", required = "" })</p>
                                            </td>
                                        </tr>
                                    }




                                    <tr>
                                        <td colspan="2" style="width: 27.5545%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 16.4pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>FİYAT:</p>
                                        </td>
                                        <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 16.4pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Fiyat, new { style = "border:none;width:100%", required = "" , pattern = "[1-9]{1}[0-9]{3,}"})</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 9.3pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ROUTİNG</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 9.3pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.RoutingS, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 9.3pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ROUTİNG:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 9.3pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.RoutingA, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="width: 49.5118%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 13.1pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>SATICI BİLGİLERİ</p>
                                        </td>
                                        <td colspan="2" style="width: 50.3627%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.1pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ALICI/KİRACI BİLGİLERİ&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 14.3pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ADI-SOYADI:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.3pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.AdS, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.3pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ADI-SOYADI:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.3pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.AdA, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 13.15pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ADRESİ:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.15pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.AdresS, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.15pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ADRESİ:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.15pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.AdresA, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 13.4pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>TC KİMLİK NO:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.4pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.TCS, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.4pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>TC KİMLİK NO:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.4pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.TCA, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 11.6pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>İRTİBAT TEL:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 11.6pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.TelS, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 11.6pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>İRTİBAT TEL:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 11.6pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.TelA, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 9.1pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>SATICI DANIŞMANI:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 9.1pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.DanismanS, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 9.1pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ALICI DANIŞMANI:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 9.1pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.DanismanA, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 29.25pt; vertical-align: middle;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>SATICI DANIŞMANI 2:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 29.25pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Danisman2S, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 29.25pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ALICI DANIŞMANI 2:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 29.25pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.Danisman2A, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 40.5pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>SATICI TARAF BR&Uuml;T HİZMET BEDELİ:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 40.5pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.BrütS, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 40.5pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>ALICI TARAF BR&Uuml;T HİZMET&nbsp; BEDELİ:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 40.5pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.BrütA, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 25.65pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>TAPU İŞLEM TARİHİ:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 25.65pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.TapuTarihiS, new { style = "border:none;width:100%", required = "", type = "date" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 25.65pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>TAPU İŞLEM TARİHİ:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 25.65pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.TapuTarihiA, new { style = "border:none;width:100%", required = "", type = "date" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 18.1933%; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 11.9pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>TAHSİLAT ŞEKLİ:</p>
                                        </td>
                                        <td colspan="3" style="width: 31.2421%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 11.9pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.TahsilatS, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                        <td style="width: 19.148%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 11.9pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>TAHSİLAT ŞEKLİ:</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 11.9pt; vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Html.TextBoxFor(x => x.TahsilatA, new { style = "border:none;width:100%", required = "" })</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="width: 466.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0in 5.4pt;height: 12.9pt;vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>BİTMİŞ İŞLEM TOPLAM RAPORLAMA: @Html.TextBoxFor(x => x.ToplamRapor, new { style = "border:none;width:70%;float:right", required = "" , pattern = "[1-9]{1}[0-9]{3,}"})</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="width: 161.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0in 5.4pt;height: 176.8pt;vertical-align: top;">
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:5.4pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'> <input type="checkbox" required /> %70 HİZMET BEDELİNİ TESLİM ALDIM</p>

                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:5.4pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><br></p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Model.portfoy.danisman.Ad</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@Model.portfoy.danisman.Gorevi</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                                        </td>
                                        <td colspan="2" style="width: 38.7214%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 176.8pt; vertical-align: top;">


                                            <p style='margin-top:36px;margin-right:0in;margin-bottom:10.0pt;margin-left:5.4pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'> <input type="checkbox" disabled /> %30 HİZMET BEDELİNİ TESLİM ALDIM</p>

                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><br></p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@(Model.portfoy.danisman.danisman2 != null ? Model.portfoy.danisman.danisman2.Ad : Model.portfoy.danisman.Ad)  </p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>@(Model.portfoy.danisman.danisman2 != null ? Model.portfoy.danisman.danisman2.Gorevi : Model.portfoy.danisman.Gorevi)</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                                        </td>
                                        <td style="width: 31.2911%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 176.8pt;">

                                            <p style='margin-top:36px;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;%8 ROYALITY BEDELİ&nbsp;</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><br></p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;&nbsp;</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>UPARAZZİ T&Uuml;RKİYE</p>
                                            <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

                                @Html.HiddenFor(x=>x.PortfoyId)
                                @Html.HiddenFor(x=>x.Satilik)
                          

                            <div class="form-group" style="width:50%">

                                <button class="btn btn-info btn-rounded btn-block btn-anim PortfoyKaydet"><i class="fa fa-save"></i><span class="btn-text">Kaydet</span></button>

                            </div>

                        </center>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>



